<div class="slds-text-title_caps" style="font-size: 2em; padding: 1em">Today's outfit</div>
<div class="slds-grid">
  <div class="demo-only slds-col" style="width: 320px;">
    <ul class="slds-has-dividers_around-space">
      <form class="slds-m-bottom--large outfit-form" novalidate [formGroup]="outfitForm">
        <div *ngIf="!showShirtCard">
          <select class="slds-select" formControlName="shirtList" (ngModelChange)="updateShirtIndex($event)" >
            <option *ngFor="let shirt of this.shirtService.allShirts; let i = index" [ngValue]="i" >{{shirt.itemName}} </option>
          </select>
          <button type="button" class="slds-button slds-button--brand" (click)="wearShirt()"> Ok </button>
        </div>
        <div *ngIf="showShirtCard">
          <li class="slds-border slds-item homebutton " >
            <article class="slds-tile slds-tile_board">
              <h3 class="slds-text-heading_medium">Name: {{this.currentShirt.itemName}}</h3>
              <div class="slds-tile__detail slds-text-body_small">
                <p class="slds-text-heading_medium">Color: {{this.clothingColorNames[this.currentShirt.color-1]}} 
                <p class="slds-text-heading_medium">Length: {{this.clothingLengthTypeNames[this.currentShirt.length-1]}} </p>
                <p class="slds-truncate" ><a href="javascript:void(0);">Remaining Uses: {{this.currentShirt.numberOfRemainingUses}}</a></p>
              </div>
            </article>
          </li>
        </div>
        <div *ngIf="!showPantsCard">
          <select class="slds-select" formControlName="pantsList" (ngModelChange)="updatePantsIndex($event)">
            <option *ngFor="let pants of this.pantsService.allPants; let i = index" [ngValue]="i">{{pants.itemName}} </option>
          </select>
          <button type="button" class="slds-button slds-button--brand" (click)="wearPants()"> Ok </button>
        </div>
        <div  *ngIf="showPantsCard">
          <li class="slds-item homebutton">
            <article class="slds-tile slds-tile_board">
              <h3 class="slds-text-heading_medium">{{this.currentPants.itemName}}</h3>
              <div class="slds-tile__detail slds-text-body_small">
                <p class="slds-text-heading_medium">Color: {{this.clothingColorNames[this.currentPants.color-1]}} 
                <p class="slds-text-heading_medium">Length: {{this.clothingLengthTypeNames[this.currentPants.length-1]}} </p>
                <p class="slds-truncate" ><a href="javascript:void(0);">Remaining Uses: {{this.currentPants.numberOfRemainingUses}}</a></p>
              </div>
            </article>
          </li>
        </div>
        <div *ngIf="!showUnderwearCard">
          <select class="slds-select" formControlName="underwearList" (ngModelChange)="updateUnderwearIndex($event)">
            <option *ngFor="let underwear of this.underwearService.allUnderwear; let i = index" [ngValue]="i">{{underwear.itemName}} </option>
          </select>
          <button type="button" class="slds-button slds-button--brand" (click)="wearUnderwear()"> Ok </button>
        </div>
        <div *ngIf="showUnderwearCard">
          <li class="slds-item homebutton" >
            <article class="slds-tile slds-tile_board">
              <h3 class="slds-text-heading_medium">{{this.currentUnderwear.itemName}}</h3>
              <div class="slds-tile__detail slds-text-body_small">
                <p class="slds-text-heading_medium">Color: {{this.clothingColorNames[this.currentUnderwear.color-1]}}
                <p class="slds-text-heading_medium">Type: {{this.clothingUnderwearTypeNames[this.currentUnderwear.underwearType-1]}} </p>
                <p class="slds-truncate"><a href="javascript:void(0);">Remaining Uses: {{this.currentUnderwear.numberOfRemainingUses}}</a></p>
              </div>
            </article>
          </li>
        </div>
        <div *ngIf="!showSocksCard">
          <select class="slds-select" formControlName="sockList" (ngModelChange)="updateSocksIndex($event)">
            <option *ngFor="let socks of this.sockService.allSocks; let i = index" [ngValue]="i">{{socks.itemName}} </option>
          </select>
          <button type="button" class="slds-button slds-button--brand" (click)="wearSocks()"> Ok </button>
        </div>
        <div *ngIf="showSocksCard">
          <li class="slds-item homebutton" >
            <article class="slds-tile slds-tile_board">
              <h3 class="slds-text-heading_medium">{{this.currentSocks.itemName}}</h3>
              <div class="slds-tile__detail slds-text-body_small">
                <p class="slds-text-heading_medium">Color: {{this.clothingColorNames[this.currentSocks.color-1]}} </p>
                <p class="slds-text-heading_medium">Type: {{this.clothingSockTypeNames[this.currentSocks.sockType-1]}} </p>
                <p class="slds-truncate"><a href="javascript:void(0);">Remaining Uses: {{this.currentSocks.numberOfRemainingUses}}</a></p>
              </div>
            </article>
          </li>
        </div>
      </form>
    </ul>
  </div>
  <div class="slds-col" style="width: 320px;">
    <div class="slds-grid slds-grid_vertical-align-center">
      <div>
      <img src="/assets/images/pinksoxfinal.png" alt="" class="sock" />
      <img src="/assets/images/NakedCharlie.png" alt="" class="charlie"  />
      <img src="/assets/images/shirtfinal.png" alt="" class="shirt"/>
      <img src="/assets/images/pantsfinal.png" alt="" class="pants"/>    
      </div>
      <div>
         Cleanliness Rating: {{this.currentCleanlinessValue}}%
      </div>
    </div>
  </div>
</div>
