.homebutton {
    margin: 4em
}

img {
    position: absolute;
}

.charlie {
    z-index: 1;
}

.sock {
    z-index: 3;
}
.shirt {
    z-index: 6;
}
.pants {
    z-index: 5;
}
.underwear {
    z-index: 4;
}
.censor {
    z-index:2;
}
select {
    max-width: 350px;
}
